.flexbox{
    display: flex;
    align-items: center;
}

.logo{
    width: 72px;
    margin: auto;
    filter: invert();
}

.collection{
    margin: 0;
    border:none;
    margin-bottom: 5%;
}

div.collection a.collection-item{
    color: #ffffff;
    background-color: #1e88e5;
    border:none;
    border-top: 1px solid #a6a6a6;
}

div.collection a.collection-item:hover{
    background-color: #1565c0;
}

.collection a.collection-item:not(.active):hover{
    background-color: #1565c0!important;
}

a.active{
    background-color: #ffffff!important;
}

@media (min-width: 601px){
    .logo{
        margin-top: 18px;
    }
}

@media (max-width: 600px){
    .logo{
        width: 30%;
        margin-top: 3%;
    }
    .flexbox{
        justify-content: center;
    }
    .navbar{
        margin: 0;
        margin-bottom: 5%;
    }
    .slogan{
        text-align: center;
    }
}

.redes-sociales{
    position: fixed;
    margin: 0;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    background-color: rgba(166, 166, 166, 0.4);
    z-index: 3;
}

.imagenes{
    margin-top: 4%;
}

.icono{
    display: inline;
    font-size: 2em;
    margin: 5px 0;
}

.imagen-responsiva-viaje{
    width: 100%;
    margin-top: 2%;
}